.clothingPage {
  display: flex;
}

.sideBar {
  width: 20vw;
  height: 100vh;
  text-align: left;
  background-color: white;
  border-right: 1px solid black;
  position: fixed;
  z-index: 1;
}

.sideCategories {
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.sideCategories li {
  list-style: none;
  margin-bottom: 20px;
  color: black;
  font-size: 18px;
  font-weight: 650;
  cursor: pointer;
}

.sideCategories li:hover {
  text-decoration: black underline;
}

.filterBar p {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 750;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.filterOptions {
  width: 100%;
  padding-left: 0;
}

.filterOptions li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding: 0 0 10px 0;
  justify-content: space-between;
  border-bottom: 1px dotted grey;
}

.filterOptions button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-weight: 350;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.pricesExpand {
  display: flex;
}

.pricesExpand p {
  font-size: 14px;
  font-weight: 350;
  border-bottom: none;
}

.ratingExpand {
  display: flex;
  flex-direction: column;
}

label {
  color: gold;
  text-shadow: 0px 1px 1px black;
}

.itemCard {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 75%;
  margin-left: 50px;
  box-shadow: 0px 1px 5px black;
}

.itemCard img {
  height: 200px;
  border-radius: 25px;
  margin: 10px auto;
}

.itemCardInfo {
  border-top: 1px solid black;
  text-align: center;
  font-weight: 550;
  color: black;
  width: 85%;
}

.itemCardSizes {
  display: flex;
  justify-content: space-evenly;
}

.itemCardSizes button {
  border: none;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
  width: auto;
  font-weight: 550;
  font-size: 18px;
  cursor: pointer;
}

.itemCardSizes button:hover {
  text-decoration: black underline;
}

.itemCardSizes button.selected {
  border: 1px solid black;
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
}

.addToCart {
  margin-bottom: 20px;
  background-color: rgb(51, 255, 0);
  border-radius: 25px;
  box-shadow: 0px 1px 2px black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.addToCart:hover {
  background-color: rgb(179, 255, 0);
}

.addToCart:active {
  background-color: rgb(24, 202, 0);
  box-shadow: none;
}

.favoriteBtn {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 18px;
  margin: auto 30px;
}
.favoriteBtn:active {
  transition: .1s ease-out 0s;
  scale: 0.8;
  color: red;
}

.itemList {
  margin-left: 20%;
  width: 80%;
  padding-top: 25px;
  background-color: white;
  overflow-y: scroll;
  height: 75vh;
}

.itemListBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemListBtns button {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 2px black;
  cursor: pointer;
}

.itemListBtns button:active {
  color: grey;
  box-shadow: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 0px;
}
