body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.fade-in-active {
  opacity: 1;
}